@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, var(--interm-color), var(--darker-color));
    }
    section#login{
        width: 80vw;
    }
    section#login > div#imagem{
        width: 40%;
        height: 100%;
        float: left;
    }
    section#login > div#formu{
        float: right;
        width: 60%;
    }

    div#formu {
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    }
    div#formu > h1{
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.8em;
    }
    div#formu > p{
        font-size: 1em;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image:linear-gradient(to bottom, var(--interm-color), var(--darker-color));
    }
    section#login{
        width: 950px;
    }
    section#login > div#imagem{
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login > div#formu{
        float: left;
        width: 60%;
    }

    div#formu {
        position: relative;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        }
    div#formu > h1{
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    }
    div#formu > p{
        font-size: 1.2em;
        text-align: center;
    }
}