@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    background-color: #E284F5;
}


header{
    background-color: #F54CC3;
}
header h1{
    text-align: center;
    padding: 15px;
}

menu{
    display: none;
}
menu ul{
    list-style-type: none;
}
menu a{
    background-color: #9D42F5;
    text-decoration: none;
    color: white;
    margin: auto;
    display: block;
    text-align: center;
    padding: 15px;
    border: 1px solid purple;
}
menu a:hover{
    background-color: #D643F5;
}

span#burguer{
    background-color: rgb(46, 46, 46);
    color: white;
    text-align: center;
    padding: 10px;
    display: block;
}
span#burguer:hover{
    color: rgb(46, 46, 46);
    background-color: white;
    cursor: pointer;
}

main{
    text-align: justify;
    width: 400px;
    display: block;
    margin: auto;
    background-color: rgb(254, 196, 225);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
main h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    width: 400px;
    text-align: center;
}
main p{
    margin-bottom: 10px;
    margin-left: 5px;
}