@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../imagens/fundo-minimalista.jpg') no-repeat center right;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    width: 100px;
    height: 100vh;
    background-color: #1d1c1cc1;
}
main {
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url('../imagens/frame-iphone.png') no-repeat ;
    height: 627px;
    width: 311px;
}

section#redes-sociais{
    position: absolute;
    top: 25%;
}

section#redes-sociais img{ 
    background-color: #3A3A3A;
    padding: 5px;
    height: 50px;
    margin: 15px;
    border-radius: 35%;
    box-sizing: border-box;
}
section#redes-sociais img:hover{
    outline: 3px solid rgba(222, 32, 255, 0.59);
    transform: translate(5px, -5px);
    transition: transform .5s;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
